{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'forum.css' %}">
    {% include 'navbar.html' %}
</head>

<script>
    $(document).ready(function() {
            getQuestion();
    });

    async function getQuestion() {
        $.getJSON("json", function(data) {
            var todolistHTML = '';
            $.each(data, function (key, task) {
                todolistHTML += getCard(task);
            });
            console.log(todolistHTML); 
            document.getElementById("content").innerHTML = todolistHTML;
        })
    }

    function getCard(task) {
    item = `    
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading${task.pk}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse${task.pk}" aria-expanded="true" aria-controls="collapse${task.pk}">
                    <img src = "https://cdn-icons-png.flaticon.com/512/1179/1179267.png" width = "50" height = "50">
                    <h1>${task.fields.title}</h1>
                </button>
            </h2>
            <div id="collapse${task.pk}" class="accordion-collapse collapse show" aria-labelledby="heading${task.pk}" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Asked by ${task.fields.username}</strong> 
                    <strong>at ${task.fields.created_at} </strong> 
                    <p>${task.fields.body}</p>
                </div>
                <div id ="content-reply"> 
                    <a class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#modal-reply">Add Your Answer</a>
                </div>
            </div>
        </div>
    </div>
    `
    return item;
    }

    function submitNewTask(taskForm) {
        $.post("addQuestion/", $(taskForm).serialize(), function(data){
            document.getElementById("content").innerHTML += getCard(data[0]);
        });
    }
 
</script>

<body id = "id1">
    <div class= "page" style="padding:8%;">
        {% include 'question-list.html' %}
    </div>
</body>

<!-- modal -->
<div class="modal fade" id="modal-ajax" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header" id = "id2">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Your Question</h1>
            </div>
            <div class="modal-body">
                <form id="taskForm" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="title" class="col-form-label">Title</label>
                        <input type="text" name="title" class="form-control" id="title" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Question</label>
                        <textarea class="form-control" id="description"  name="description" required></textarea>
                    </div>
                </form>
                <button id="submit-task" class="btn btn-primary" onclick="submitNewTask(taskForm)">Submit Your Question</button>
            </div>
        </div>
    </div>
</div>


<!-- modal -->
<div class="modal fade" id="modal-reply" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header" id = "id2">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Your Answer</h1>
            </div>
            <div class="modal-body">
                <form id="form-submit" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Answer</label>
                        <textarea class="form-control" id="description"  name="description" required></textarea>
                    </div>
                </form>
                <button id="submit-task" class="btn btn-primary" onclick="submitNewRep(taskForm)">Submit Your Reply</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
